{% extends 'base.html.twig' %}

{% block title %}shortUrl{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
    {% endfor %}
    {{ form_start(form) }}
        {{ form_row(form.originalUrl) }}
        <input type="submit" value="short">
    {{ form_end(form) }}
{% endblock %}
